* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;    
    transition: width 0.2s;
}
::-webkit-scrollbar-track {
    background-color: var(--Color_secondary);
}
::-webkit-scrollbar-thumb {
    background: #f786f4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
}
.hide-scrollbar {
    scrollbar-width: none;
}
:root{
    --Color_main: #f786f4;
    --Color_secondary: #313338;
    --Color_third: #1e1e1e;
}
body {
    background-color: var(--Color_secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.to_home_graphic{
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        gap: 5px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        border: none;
        padding-left: 20px;
        > div {
            transition: 400ms;
            width: 40px;
            height: 9px;
            background-color: var(--Color_main);
            border-radius: 3px;
            box-shadow: 0 0 8px var(--Color_main), 0 0 12px var(--Color_secondary);
        }
    }
    &:hover, &:focus {
        cursor: pointer;
        > button > div {
            transform: scaleX(1.05) scaleY(0.95) translateX(0.5px);
        }
    }
    &:active {
        > button > div {
            transition: 100ms;
            box-shadow: 0 0 5px var(--Color_main), 0 0 10px #ffffff1f;
            transform: scaleX(0.95) scaleY(1.05) translateX(0px);
        }
    }
}

nav{
    display: flex;
    position: sticky;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 60px;
    top: 0px;

    background-color: #313338;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 0px 20px;
    z-index: 10;
    transition: 500ms;
    transform: translateY(-60px);
}

main {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #313338;
    color: var(--Color_main);
    overflow-y: hidden;
}

header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    z-index: 9;
    transition: opacity 500ms;
    top: 0;
    left: 0;
    background-color: black;
    .inner{
        display: flex;
        justify-content: center;
        flex-direction: column;

        aspect-ratio: 4/3;
        height: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 6.66vh;
        font-weight: bolder;
        line-height: 2;
        color: white;


        > div {
            margin: 2% 8%;
        }
        p {
            transform: scale(1.2, 2.2) translateX(8%);
            transition: 400ms ease-in-out;
        }
        h1 {
            transform: scale(1.5, 2.2) translateX(16%);
        }
        > div > div p{
            transform: scale(1, 1.6) translate(0%, -15%);
            text-align: right;
        }
        > div > div p:nth-child(2){
            margin-top: -11.9%;
        }
    }
    
    @media (aspect-ratio < 4/3){
        .inner{
            height: auto;
            width: 100%;
            font-size: 5vw;
        }
    }
}



.hidden {
    opacity: 0;
    z-index: -100;
    transition: opacity 500ms ease-in;
}
.visible {
    opacity: 1;
    z-index: 1000;
    transition: opacity 500ms ease-in;
}
#blackWall {
    position: absolute;
    transition: opacity 500ms ease-in;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#burgerMenu {
    position: absolute;
    z-index: 1001;
    background-color: #313338;
    box-shadow: -105px 0px 100px -100px #f786f380 inset;
    transition: 800ms ease-in-out;
    height: 100%;
    width: 300px;
    top: 0;
    left: -400px;
}
.burgerMenu_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    gap: 15px;
    margin-top: 30px;
    a {
        width: 270px;
        text-decoration: none;
        font-size: 24px;
        transition: 200ms;
        padding: 0px 5px;

        color: rgb(240, 240, 240);
        box-shadow: 10px 0px 0px -8px #f786f3 inset;

        &:hover {
            color: #fface8;
            text-shadow: 0px 0px 10px #fface8;
            box-shadow: 0px -20px 10px -20px #f786f3 inset;
        }
        &:active {
            color: #fd68ae;
            text-shadow: 0px 0px 10px #ff6cb1, 0px 0px 20px #ff469c;
            box-shadow: 0px -20px 10px -20px #ff469c inset;
        }
    }
}

.gradient_border {
    background:
        linear-gradient(var(--Color_third), var(--Color_third)) padding-box,
        linear-gradient(135deg, #c97efc, #8244d9, #9e8de7) border-box;
    border: 2px solid transparent;
}

.eye_button{
    opacity: 50%;
    background-color: rgba(255, 255, 255, 0);
    filter: grayscale(1);
    border: transparent;
    transition: 200ms;
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: -10px 0px 0px 0px;
    width: 30px;
    height: 30px;
    .Cross{
        width: 4px;
        height: 22px;
        transform: rotateZ(45deg);
        background-color: rgb(240, 240, 240);
        margin-top: -22.5px;
        margin-left: 7.5px;
        z-index: 100;
    }
}

input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: none;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    gap: 20px; 

    font-size: large;
    color: rgb(240, 240, 240);

    .section {
        max-width: 1010px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .textarea_div {
        max-width: 1000px;
        width: 80vw;
        padding: 5px;

        display: flex;
        align-items: stretch;   /* THIS matters */
        
        text-align: center;
        border-radius: 10px;
    }
    input, textarea {
        background-color: var(--Color_third);
        border: none;
        width: 100%;
        padding: 10px 10px 5px 10px;
        font-size: medium;
        color: rgb(240, 240, 240);

        resize: none;
        overflow: hidden;
    }
    @media (orientation: portrait){
        .description {
            width: 96vw;
        }
    }
}

.description h1, .description p, .description span, .description button  {
    max-width: 1000px;
    width: 80vw;
    text-align: justify;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1010px;
    padding: 5px;
    gap: 10px;
    margin-top: 20vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    margin-bottom: -10vh;
    transition: 500ms;

    box-shadow: 0px 0px 100px 10px #fface8be inset;

    h1 {
        text-align: center;
        color: #fface8;
        font-size: 95px;
        animation: h1-animation 2s infinite ease-in-out ;
    }
}
@media (aspect-ratio < 4/3){
    .welcome h1 {
        font-size: 7.5vw;
    }
    .welcome p {
        font-size: calc(13px + 0.5vw);
    }
}
@keyframes h1-animation {
    0% { transform: scaleX(1.2) scaleY(1.3); }
    50% { transform: scaleX(1.3) scaleY(1.2); }
    100% { transform: scaleX(1.2) scaleY(1.3); }
}

.textarea_example {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.info_section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    transition: 500ms;

    padding: 5px;
    p{
        width: 150px;
        margin: 15px 10px 0 0;
        transform: scale(1.2) translate(12.5%, 5%);
        span{
            font-size: small;
            color: #7c7c7c;
        }
    }
    .textarea_div{
        width: auto;
        padding: 5px 5px 5px 5px;
    }
    .delete_section {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;
        transform: translate(25%, 45%);

        font-size: 30px;
        font-weight: 1000;
        color: #ff1f87;

        background-color: rgba(255, 255, 255, 0);
        border: none;

        transition: 200ms;
        &:hover, &:active{
            color: #ff469c;
            text-shadow: 0px 0px 10px #ff469c;
        }
    }
    
    .info_custom_input{
        background-color: var(--Color_secondary);
        border: none;
        width: 140px;
        font-size: 22px;
        color: rgb(240, 240, 240);
    }
    @media (max-width: 450px) {
        p{
            width: 100px;
            margin: 0;
            transform: scale(1) translate(0%, 0%);
        }
        .info_custom_input{
            width: 100px;
            padding: 0;
            font-size: 16px;
        }
    }
}

.button_side {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#createNewSection {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    transform: translateX(-480px);

    background:
        linear-gradient(var(--Color_secondary), var(--Color_secondary)) padding-box,
        linear-gradient(135deg, #c97efc, #8244d9, #9e8de7) border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    
    color: #8244d9;
    font-size: 24px;

    &:hover, &:active {
        cursor: pointer;
        background:
            linear-gradient(var(--Color_third), var(--Color_third)) padding-box,
            linear-gradient(135deg, #9e8de7, #c97efc, #8244d9) border-box;
    }
}
@media (max-width: 1250px) {
    #createNewSection{
        transform: translateX(-38vw);
    }
}